body{background: #fbfbfb;}
.html{background-position:center top; background-size: 100% auto; background-repeat: no-repeat;}
header,
.header{border:1px solid #181b1c;
    background-color:#1f1f1f;
    /*background-repeat:repeat-x;*/
    /*background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#100a09),to(#1f1f1f));*/
    /*background:-webkit-linear-gradient(top,#1f1f1f,#100a09);*/
    /*background:-moz-linear-gradient(top,#1f1f1f,#100a09);*/
    /*background:-ms-linear-gradient(top,#1f1f1f,#100a09);*/
    /*background:-o-linear-gradient(top,#1f1f1f,#100a09);*/
    /*box-shadow: 0 1px 1px rgba(255,255,255,0.4) inset;*/
}
.index{width: 80%; height: 180px; position: absolute;left: 10%; top:50%; margin: -90px 0 0 0; z-index: 1; overflow: hidden;}
.index-wrap{
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
.box:active,
.box.active{
    opacity:0.8;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity:0.8;
}
.mod-index{width: 42%; display: inline-block; box-shadow: 0 0 5px rgba(0,0,0,0.25); float: left; height: 50px; margin: 10px 4% 0 4%; background:rgba(255,255,255,0.8); color: #666; padding: 0 10px;}
.mod-index > *{vertical-align: middle; display: table-cell; width: 100%; text-align: center; overflow: hidden;}
.mod-index small{ font-size: 14px; display: block;word-spacing:normal; word-break:normal; word-break:break-all; height: 45px; line-height: 45px;}

.mod-index:nth-child(8n+1){-webkit-animation:animate1 .5s ease-in;}
.mod-index:nth-child(8n+2){-webkit-animation:animate2 .5s ease-in;}
.mod-index:nth-child(8n+3){-webkit-animation:animate3 .5s ease-in;}
.mod-index:nth-child(8n+4){-webkit-animation:animate4 .5s ease-in;}
.mod-index:nth-child(8n+5){-webkit-animation:animate5 .5s ease-in;}
.mod-index:nth-child(8n+6){-webkit-animation:animate6 .5s ease-in;}
.mod-index:nth-child(8n+7){-webkit-animation:animate7 .5s ease-in;}
.mod-index:nth-child(8n+8){-webkit-animation:animate8 .5s ease-in;}

@-webkit-keyframes animate1 {
    0% {
        -webkit-transform:translate(-300px,-150px)
    }
    100% {
        -webkit-transform:translate(0,0)
    }
}
@-webkit-keyframes animate2 {
    0% {
        -webkit-transform:translate(300px,-150px)
    }
    100% {
        -webkit-transform:translate(0,0)
    }
}
@-webkit-keyframes animate3 {
    0% {
        -webkit-transform:translate(-300px,-50px)
    }
    100% {
        -webkit-transform:translate(0,0)
    }
}
@-webkit-keyframes animate4 {
    0% {
        -webkit-transform:translate(300px,-50px)
    }
    100% {
        -webkit-transform:translate(0,0)
    }
}
@-webkit-keyframes animate5 {
    0% {
        -webkit-transform:translate(-300px,50px)
    }
    100% {
        -webkit-transform:translate(0,0)
    }
}
@-webkit-keyframes animate6 {
    0% {
        -webkit-transform:translate(300px,50px)
    }
    100% {
        -webkit-transform:translate(0,0)
    }
}
@-webkit-keyframes animate7 {
    0% {
        -webkit-transform:translate(-300px,150px)
    }
    100% {
        -webkit-transform:translate(0,0)
    }
}
@-webkit-keyframes animate8 {
    0% {
        -webkit-transform:translate(300px,150px)
    }
    100% {
        -webkit-transform:translate(0,0)
    }
}
