body{background: #e7e7e7;}
.box{overflow: hidden;display: block; margin: 10px 2% 0 2%; padding: 10px;}
.box,
.box a{color:#fff;}
.index a:nth-child(2n){ margin-left: 0;}
.index a:nth-child(12n+1){ background: #7f638c;}
.index a:nth-child(12n+2){ background: #ff971e;}
.index a:nth-child(12n+3){ background: #a0c84e;}
.index a:nth-child(12n+4){ background: #b352a3;}
.index a:nth-child(12n+5){ background: #55abdc;}
.index a:nth-child(12n+6){ background: #6a75d1;}
.index a:nth-child(12n+7){ background: #63c53c;}
.index a:nth-child(12n+8){ background: #2c9489;}
.index a:nth-child(12n+9){ background: #ff6162;}
.index a:nth-child(12n+10){ background: #76caca;}
.index a:nth-child(12n+11){ background: #2a80b9;}
.index a:nth-child(12n+12){ background: #e9c500;}
.mod-index{width: 47.2%; display: inline-block;text-align: center; height: 100px; float:left;}
.mod-index > *{vertical-align: middle; display: table-cell; width: 100%; text-align: center; overflow: hidden;}
.mod-index small{ font-size: 14px; padding: 5px 0; line-height: 20px; display: block; height: 30px;}
.mod-index i{height: 50px; line-height:50px; overflow: hidden;text-align: center; display: block;}
.mod-index img{ max-height: 100%; vertical-align: top;}
.mod-index .fa{ font-size: 50px;}
.mod-search{ width: 96.4%; background: #c66964; padding: 10px; margin: 10px 2% 0 2%; text-align: left; vertical-align: top;}
.mod-search a{ display: block; width: 100%; height: 100px; position: relative;}
.mod-search a i{ position: absolute; right:0; bottom: 0; width: 32px; height: 32px; background: url(../../../assets/mobile/vweisiteV01/11/ico-search.png) no-repeat right bottom; background-size: auto 32px; display: block;}
.mod-search a b,
.mod-search a small{ display: block; font-weight: 100;}
.mod-search a b{ font-size: 18px; padding: 0 0 5px 0; font-weight: 100;}
.btn-up-1{ background: #999;}
.btn-up-1 .fa{ background: #fff; color: #999;}
.navPop-1 .navPop-btn{ background: #999;}
.navPop-1 .navPop-btn .fa{ background: #fff; color: #999;}
.navPop-wrap>div a{
    background: #999;
    color: #fff;
}
@media only screen and (max-width:1080px){
    .mod-index{width:47%;}
    .mod-search{ width: 96%;}
}
@media only screen and (min-width:1224px){
   .mod-index{width:47%;}
   .mod-search{ width: 96%;}
}
@media only screen and (max-width:320px){
   .mod-index{width:46.95%;} 
}
