body{background:#e1e0de;}
.html{background: url(../../../assets/mobile/vweisiteV01/25/bg.jpg) no-repeat center bottom; background-size: 100% 100%;}
.box{border-radius: 1000px; background:#2f2f2f; padding: 5px; overflow: hidden;display: block; text-align: center;}
.box,
.box a{color:#fff;}
.index{ }
.index a:nth-child(2n){ margin-left: 0;}
.index li{ text-align: center; vertical-align: text-top;}
.mod-index{width:80px; height:80px; border-radius:1000px; display: inline-block; background:#e77e8d;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); margin: 10px; overflow: hidden; vertical-align: text-top;}
.mod-index > *{vertical-align: middle; display: table-cell; width: 100%; text-align: center; overflow: hidden;}
.mod-index small{font-size: 14px; }
.mod-index > small{ height: 60px; line-height: 60px; width:80px;}
.mod-index i + small{ height: 30px; line-height: 30px; display: block; margin: 0px 5% 0 5%; width: 90%;word-spacing:normal; word-break:normal; word-break:break-all;}
.mod-index i{height: 30px; line-height:30px; overflow: hidden;text-align: center; display: block; margin: 5px 0 0 0;}
.mod-index img{ max-width:100%; max-height: 100%; vertical-align: top;}
.mod-index .fa{ font-size: 30px;}
.mod-btn .fa{margin:0 5px 0 0;}
.btn-up-1{ background: #fff;}
.btn-up-1 .fa{ background: #9d77b0; color: #fff;}
.navPop-1 .navPop-btn{ background: #fff;}
.navPop-1 .navPop-btn .fa{ background: #9d77b0; color: #fff;}
.navPop-wrap>div a{
    background: #fff;
    color: #9d77b0;
}